{{- define "main" }}
<div class="flex-grow w-full">
    {{- $itemsUrl := (.GetPage "items").RelPermalink }}
    <div
      x-cloak
      x-ref="questionnaire"
      x-data="questionnaire" 
      x-init="initQuestionnaire"
      data-items-url="{{ $itemsUrl }}"
    >
      <div 
        x-bind="item"
        class="yarrow mb-6 flex flex-col gap-3"
      >
        <div x-bind="optionA" class="y-element p-3 rounded border shadow-md cursor-pointer"></div>
        <div x-bind="optionB" class="y-element p-3 rounded border shadow-md cursor-pointer"></div>
      </div>
      <div>
        <nav class="flex items-center justify-between border-t border-gray-200 bg-white py-3" aria-label="Pagination">
          <div class="hidden sm:block">
            <p class="text-sm text-gray-700">
              <span x-bind="counter" class="font-medium"></span>
            </p>
          </div>
          <div class="flex flex-1 justify-between sm:justify-end">
            <button
              x-bind="prevButton" 
              type="submit" 
              class="relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">{{ T "previous" }}</button>
            <button 
              x-bind="nextButton"
              type="submit"
              class="relative ml-3 inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">{{ T "next" }}</button>
          </div>
        </nav>
      </div>
    </div>
</div>
{{- end }}