{{- define "main" }}
<div class="flex-grow w-full">
    <div class="mb-9">
        {{- range .RegularPages }}
            {{- partialCached "blog/post" . . }}
        {{- end }}
    </div>
    <div class="flex flex-wrap gap-10">
        {{- with .Site.Taxonomies.categories }}
        <div class="grow">
            <p class="font-bold">Categorie</p>
            {{- $categories := $.Site.GetPage "taxonomyTerm" "categories" }}
            {{- range $categories.Pages.ByTitle }}
            <div class="py-2 border-b border-slate-200">
                <a class="text-blue-600" href="{{.Permalink}}">{{.Title}} ({{ len .Pages }})</a>
            </div>
            {{- end }}
        </div>
        {{- end }}
        {{- with .Site.Taxonomies.tags }}
        <div class="grow">
            <p class="font-bold">Tags</p>
            {{ $tags := $.Site.GetPage "taxonomyTerm" "tags" }}
            {{- range $tags.Pages.ByTitle }}
            <div class="py-2 border-b border-slate-200">
                <a class="text-blue-600" href="{{.Permalink}}">{{.Title}} ({{ len .Pages }})</a>
            </div>
            {{- end }}
        </div>
        {{- end }}
    </div>
</div>
{{- end }}