{{- define "main" }}
{{ $currentPage := . }}
{{ $pages := .Pages.ByDate.Reverse }}
{{ $paginator := .Paginate $pages 2 }}
<div class="flex-grow w-full">
    <div class="mb-9">
        {{- range $paginator.Pages }}
            {{- partialCached "blog/post" . .RelPermalink }}
        {{- end }}
        {{- partial "base/paginator" $paginator }}
    </div>
    <div class="flex flex-wrap gap-10">
        {{- with .Site.Taxonomies.categories }}
            <div class="grow">
                {{- partialCached "blog/taxa"
                    (dict "currentPage" $currentPage "taxaType" "categories" "taxaLabel" "Categorie") "taxaCategories" }}
            </div>
        {{- end }}
        {{- with .Site.Taxonomies.tags }}
            <div class="grow">
                {{- partialCached "blog/taxa"
                    (dict "currentPage" $currentPage "taxaType" "tags" "taxaLabel" "Tags") "taxaTags" }}
            </div>
        {{- end }}
    </div>
</div>
{{- end }}