{{- define "main" }}
<div class="flex-grow w-full">
    <div class="mb-9">
        <h1 class="text-xl font-bold">{{ .Title }}</h1>
        <span class="text-sm text-gray-500">
            <span>Conteggio parole: {{ .WordCount }}</span> &middot;
            <span>Tempo di lettura stimato: {{ .ReadingTime }} minut{{- if eq 1 .ReadingTime}}o{{- else }}i{{- end}}</span>
        </span>
    </div>
    <div class="flex flex-row gap-10">
        <div class="basis-2/3 grow">{{ .Content }}</div>
        {{- if gt (.Fragments.HeadingsMap | len) 0 }}
            <div class="basis-1/3" hx-boost="false">
                <p class="pl-2 mb-3 font-semibold">Sommario</p>
                {{- with .Fragments.HeadingsMap }}
                    {{ range . }}
                    <div class="p-2 border-b border-slate-200">
                        <a class="text-blue-600" href="#{{ .ID }}">{{ .Title }}</a>
                    </div>
                    {{ end }}
                {{- end }}
            </div>
        {{- end }}
    </div>
    {{- with .GetTerms "tags" }}
        <p class="text-md font-semibold my-3">Tags</p>
        {{- range . }}
            <a class="text-blue-600" href="#{{ .RelPermalink }}">#{{ .LinkTitle }}</a>
        {{- end }}
    {{- end }}
</div>
{{- end }}